/* НЕ ЗАБЫТЬ ДОБАВИТЬ ШРИФТЫ!!! */
/* общие настройки */
*{
    margin: 0;
    padding: 0;
}
body{
     background-color: #132B4D; 
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/* настройка заголовков с палочками */
.unitHeader{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.blockHeader {
    max-width: 1544px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    text-align: center;
}
.blockHeader__header{
    color: #E9EEF4;
    height: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}
.blockHeader__headerText{
    color: #E8E8E8;
    height: 52px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 70px;
}
.blockStandard{
    max-width:1170px;
   /* border: 2px solid red; */
    margin: 0 auto;;
}
/* -----------------меню------------- */
.header_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/* настройки списка */
.header__menuComponents{
    float: left;
}
.header__menuComponents a {
    margin-right: 10px;
    margin-left: 10px;
    color: #E9EEF4;
}
.header__menuComponents a:hover,
.header__menuComponents a:focus{
    color:  #ccd2d9 ;
}
/* настройки кнопки */
.header__menuBtn{
   width: 120px;
   height: 40px;
   color: #E9EEF4;
   background-color: #E215A7;
   border-radius: 4px;
}
/* --------------------------Next Generation Security--------------------------------------- */
/* .aa{
    border: 2px solid red;
    max-width:971px ;
    height: 746px;
    background: url(../img/Backdrop_1_Block.png);
    background-repeat: no-repeat;
} */
/* --------------------------About Us--------------------------------------- */
.Company_Standarts{
    border: 2px solid red;
    max-width: 585px;
    /* height: 100px; */
}
/* -------------------------- Our service for you - ABOUT OUR PRODUCTS-------------------------------------- */
.Slider_Menu{
    display: grid;
    /* align-content: center; */
    grid-template-columns: repeat(3, 390px);
    
}
.menu{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.sliderMenu__Img{
    align-self: center;
    margin-bottom: 15px;
}
.sliderMenu__Header{
    margin-bottom: 15px;
    text-align: center;
    font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 26px;
color: #E9EEF4;
}
.sliderMenu__Text{
    font-style: normal;
    max-width: 304.48px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #EDEDED;
}
.LearnMore__btn{
    align-self: center;
    width: 135px;
    height: 40px;
    margin-top: 26px;
    padding: 7px 0px 7px 16px;
    background-color: #132B4D;
    border: 1px solid #E215A7 ;
    border-radius: 4px;
    color:  #E9EEF4;
}
.LearMore__btn__img{
    padding-left: 10px;
    padding-right: 16px;
}
/* --------------------------footer--------------------------------------- */
.mainBlock__footer{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(5, 234px);
}
.footer__description{
    display: flex;
    justify-content: space-between;
}
.footer__description__text {
    margin-top: 90px;
    margin-bottom: 70px;
    color: #F2F2F2;
}
.footer__header {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    text-transform: capitalize;
    color: #E9EEF4;

}
.footer__text {
    text-align: center;
    font-style: normal;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #CBD1D9;
}
/* .Slider_Menu:hover,
.Slider_Menu:focus{
    background-color: #E215A7;
} */

/* создал кнопку меню надо написать скрипты и выподающее меню и header menu будет готово */
/* @media(max-width:1200px){
} */
/* @media(max-width:992px){
    Вопрос: нормально что главное меню так съезжает при уменьшении!
    меню
    .header__menu{
        justify-content: space-around;
    }
    .header__menuLink a{
        display: none;
    }
    .header__menu__burgerBtn{
        display: block;
       margin: 30px 20px 0 0;
        width: 40px;
        height: 40px;
        background-color:  #163968;
    }
    .header__menu__burgerBtn:hover,
    .header__menu__burgerBtn:focus{}
    .header__menu__bergerImg{
        width: 40px;
    }
}
@media(max-width:767px){

} */