/* НЕ ЗАБЫТЬ ДОБАВИТЬ ШРИФТЫ!!! */
/* общие настройки */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #132B4D;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/* -----------------меню------------- */
/* настройка всего блока */
.header__menu{
    display: flex;
    justify-content: space-between;
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
}
/* настройка логотипа  */
/* настроить положение картинки! */
.header__menuLogo{  
    margin: 17px 55px 17px 0;
    /* margin-right: 55px; */
    width: 174px;
    height: 65px;
}
/* настройки списка */
.header__menuComponents{
    float: left;
}
/* настройки ссылок */
.header__menuLink{
    text-align: center;
    margin-top: 36.5px;
}
.header__menuLink a{
    padding-left: 20px;
    color:  #E9EEF4;
}
.header__menuLink :hover,
.header__menuLink :focus{
    color:  #ccd2d9 ;
}
/* настройки кнопки */
.header__menuBtn{
    width: 120px;
    height: 40px;
    border-radius: 10%;
    padding: 7px 17.5px 7px 17.5px;
    margin-top: 30px;
    margin-left: 70px;
    background:linear-gradient(282.95deg, #E215A7 -11.93%, #EE1D78 134.56%); ;
    color: #E9EEF4;
}
/* кнопка меню */
.header__menu__burgerBtn{
    display: none;
}
/* настройки для бургер меню */
/* дать нормальное название классам! */
.dropMenu__Invisible{
    display: none;
    /* justify-content: center;
    width: 100%;
    height: 100px; */
    /* display: none; */
}
.dropMenu__wisible{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
}
.bergerMenu_Ul{
    align-content: center;
}
.burgerMenu_li{
    margin-bottom: 20px;
}
.burgerMenu_Componnents{
    text-align: left;
    float: left;
    width:50%;
    margin-bottom: 20px;
}
.burgerMenu_link{
    text-decoration: none;
    margin-left: 40px;
    font-size: large;
    color: #E9EEF4
}
.burgerMenu_link:hover,
.burgerMenu_link:focus{
    color:  #ccd2d9 ;
}
/* --------------------About Us-------------------------------- */
/* подумать - чтобы классы для заголовка сдлеать едиными для всех! */
/* доделать оформление Левая колонка кривая! */
.aboutUs{
    max-width: 1544px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    text-align: center;
}
.aboutUs__header{
    color: #E9EEF4;
    height: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}
.aboutUs__headerText{
    color: #E8E8E8;
    height: 52px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 70px;
}
.aboutUs__CompanyStandards__header{
    /* надо разобраться с цветом заголовка */
    text-align: left;
    color: #E215A7; 
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
}
.aboutUs__CompanyStandards__text{
    color: #E8E8E8;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.aboutUs__CompanyStandards__List{
    list-style-type:none;
}
/* настройки для текста в li */
 /* font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px; */
.aboutUs__CompanyStandards__List li{
    text-align: left;
    /* display:block; */
    float:left;
    width:34%;
}
.aboutUs__CompanyStandards__vidio{
    width: 874.68px;
    height: 472.44px;
    left: 1046.34px;
    top: 1163.56px;

}
.ddd{
    display: flex;
    margin-left: 250px;
    justify-content: space-between;
}
/*------------------Подвал---------------------------- */
.footer__filling{
    display: flex;
    /* flex-wrap: wrap; подумать над меньшей диагональю */
    /* можно все свернуть в небольшое выпадающее меню! */
    justify-content: space-between;
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    margin-top: 140px;
    /* временный костыль для отображения footera  */
}
/* первый столбик */
 .footer__CriptenLogo{
    width: 174px;
    height: 65px;
}
.footer__CriptenText{
    text-align: left;
    /* padding-left: 70px ;.. */
    color:#CBD1D9;
    width: 241px;
    height: 52px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.footer__SocialMedia{
    width: 190px;
    height: 55px;
    /* padding-left: 10px;p.. */
}
/* заголовки */
 .footer__header{
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    color: #E9EEF4;
    margin-bottom: 20px;
} 
/* настройка компонентов списков */
 .footer__ListContent{
    /* нужно сделать ссылками! */
    text-align: center;
    color:#CBD1D9;
    margin-bottom: 6px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
} 
/* создал кнопку меню надо написать скрипты и выподающее меню и header menu будет готово */
@media(max-width:1200px){
}
@media(max-width:992px){
    /* Вопрос: нормально что главное меню так съезжает при уменьшении! */
    /* меню */
    .header__menu{
        justify-content: space-around;
    }
    .header__menuLink a{
        display: none;
    }
    .header__menu__burgerBtn{
        display: block;
       margin: 30px 20px 0 0;
        width: 40px;
        height: 40px;
        background-color:  #163968;
    }
    .header__menu__burgerBtn:hover,
    .header__menu__burgerBtn:focus{}
    .header__menu__bergerImg{
        width: 40px;
    }
}
@media(max-width:767px){

}